root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
; check line length and indent size with other tools

[{*.cmd,*.bat}]
end_of_line = crlf
[{*.xml,*.yml,*.yaml}]
indent_size = 2